* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(100deg, rgb(94, 94, 94), rgb(0, 0, 0));
}
.heading {
  font-size: 145px;
  font-weight: 900;
  background: url(/nature-background-nature-landscape-background-nature-wallpaper-landscape-background-ai-generative-free-photo.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  max-width: 100%;
}
